.PieceList {
  .piece-container {
    display: flex;
    margin: 30px 0;

    .column {
      padding: 10px;
    }

    .costume-column {
      flex: 2;
      border: 1px solid rgba(34, 36, 38, 0.15);
    }

    .table-column {
      flex: 7;
      padding: 0;
      align-items: flex-start;
    }

    .costume-container {
      text-align: center;

      .section {
        margin-top: 10px;
      }

      .divider {
        margin: 0 3px;
        color: hsl(0, 0%, 83%)
      }
    }
  }
}
