.ResourceTable {
  .resource-table-container {
    margin: 20px 0;
  }

  .filters-container {
    display: flex;
    padding: 10px;
    background-color: #f9fafb;
    align-items: center;
    flex-wrap: wrap;

    .filter-item {
      margin: 5px 25px;

      .remove-filter-icon {
        opacity: 0.5;
        cursor: pointer;
        margin: 5px;

        &:hover {
          opacity: 0.8;
        }
      }
    }

  }
}
