.Script {
  .line-type-icon {
    opacity: 0.6;
    margin-left: 5px;

    &:hover {
      opacity: 1;
    }
  }

  .add-line-text {
    font-style: italic;
    text-align: center;
    cursor: pointer;
  }

  .lines-container {
    margin-top: 15px;
  }

}
