@import 'base';

.SearchScript {
  .search-result-container {

    .stage-action {
      color: hsl(0, 0%, 50%);
    }

    .search-result-description {
      color: hsl(0, 0%, 50%);
      b {
        color: black;
      }
    }
  }

}

.Script {

  .stage-action-type-icon {
    opacity: 0.6;
    margin-left: 5px;

    &:hover {
      opacity: 1;
    }
  }

  .load-more-section {
    border: solid 1px $border-color;
    border-radius: $border-radius-medium;
    text-align: center;
    margin: 20px 0;
    padding: 15px;
    position: relative;
  }

  .add-line-text {
    font-style: italic;
    text-align: center;
    cursor: pointer;
  }

  .lines-container {
    padding: 0 20px;
    margin-top: 15px;
    margin-left: 3px;

    .stage-action-container {
      margin: $spacing-medium 0;
    }
  }

  .header-bar{
    position: sticky;
    z-index: 2;
    top: 43px;

    .script-navbar {
      background-color: #f8f7fa;
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .script-navigation {
        display: flex;
        justify-content: space-between;

        .line-slider-container {
          text-align: center;
          margin-right: 30px;

          .stage-action-slider {
            padding: $spacing-small;
          }
        }
      }
    }

    .span-bar {
      background-color: white;
      padding: 15px 20px;
      border-top: 1px solid $timberwolf;
      border-bottom: 1px solid $timberwolf;

      .stage-action-span-label {
        @extend %secondary-label;
        margin-bottom: 10px;
      }
    }
  }


  .line-slider {
    margin: 0 6px;
    cursor: pointer;
  }

  .current-scene-label {
    opacity: 0.5;
    font-size: 10pt;
  }
}
