.StageAction {

  .line {
    border-left: 4px solid orange;
  }

  .stage-direction {
    border-left: 4px solid blue;
  }

  .entrance {
    border-left: 4px solid green;
  }

  .exit {
    border-left: 4px solid red;
  }

  .song {
    border-left: 4px solid purple;
  }

  .display-mode {

    position: relative;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.2);

    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
      //border: 1px solid rgba(81, 203, 238, 1);
      //border: 0;
      //border-left: 4px solid purple;
      //box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);

      .edit-icon {
        visibility: visible;
      }
    }

    .edit-icon {
      visibility: hidden;
      position: absolute;
      top: 3px;
      right: 5px;
      z-index: 1;
      color: grey;
    }

    .stage-action-container {
      display: flex;
      padding: 15px;
    }

    .stage-action-number {
      align-self: center;
      margin-right: 20px;
      font-size: 24px;
      text-align: center;
      opacity: 0.5;
      font-weight: 700;
      flex-basis: 35px;
      flex-grow: 0;
      flex-shrink: 0;
    }

    .character-stage-action-avatar {
      margin-right: 7px;
    }

    .stage-action-type-icon {
      opacity: 0.6;
      margin-left: 5px;

      &:hover {
        opacity: 1;
      }
    }

    .stage-action-content {
      margin-top: -5px;
    }

  }
}
