@import 'base';

.StageAction {

  h4 {
    margin: 0;
  }

  .line {
    border-left: 4px solid orange;
  }

  .stage-direction {
    border-left: 4px solid blue;
  }

  .entrance {
    border-left: 4px solid green;
  }

  .exit {
    border-left: 4px solid red;
  }

  .song {
    border-left: 4px solid purple;
  }

  .display-mode {

    position: relative;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.2);

    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);

      .edit-icon {
        visibility: visible;
      }

      .span-container {
        visibility: visible;
      }
    }

    .edit-icon {
      visibility: hidden;
      position: absolute;
      top: 3px;
      right: 5px;
      z-index: 1;
      color: grey;
    }

    .span-container {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 100%;
      width: 400px;
      margin: 20px;
      display: flex;
      padding: 0 10px;
      font-size: 13px;

      & > div {
        margin: 0 10px;
      }

      .span-label {
        @extend %secondary-label;
      }
    }

    .stage-action-container {
      display: flex;
      padding: 15px;
    }

    .stage-action-number {
      align-self: center;
      margin-right: 20px;
      font-size: 24px;
      text-align: center;
      opacity: 0.5;
      font-weight: 700;
      flex-basis: 35px;
      flex-grow: 0;
      flex-shrink: 0;
    }

    .character-stage-action-avatar {
      margin-right: 7px;
    }

    .stage-action-type-icon {
      opacity: 0.6;
      margin-left: 5px;

      &:hover {
        opacity: 1;
      }
    }

    .stage-action-content {
      margin-top: -5px;
    }
  }
}
