.field-wrapper {
  padding: 5px;
}

.empty-field {
  font-style: italic;
  opacity: 0.5;
  cursor: pointer;
}

.text-input {
  line-height: 0.9em;
  border-radius: 3px;
  border: 1px solid transparent;
}

.display-mode {

  &:hover {
    cursor: pointer;
    background: hsl(0, 0%, 97%);
    border-radius: 3px;
  }
}
