.DressingList {
  .diff-container {
    display: flex;
    margin: 15px 0;
    min-width: 30%;

    .diff-item {
      padding: 15px;
      border-radius: 3px;
      border: 1px solid rgba(34, 36, 38, .1);
    }
  }
}
