.image-segment {
  position: relative;
}

.image-remove-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  cursor: pointer;
  opacity: 0.5 !important;

  &:hover {
    opacity: 1 !important;
  }
}
