$sidebar-width-value: 100;
$sidebar-width: $sidebar-width-value + 0px;
$top-nav-height-value: 45;
$top-nav-height: $top-nav-height-value + 0px;

$content-horizontal-margin: 25px;
$content-vertical-margin: 20px;

.sidebar-fixed {
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  background-color: #4d4563;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 1px 0 1px grey;
}

#sidebar-menu {
  background-color: #4d4563;
}

.content-container {
  margin-top: $top-nav-height-value + $content-vertical-margin;
  margin-bottom: $content-vertical-margin;
  margin-left: $sidebar-width-value + $content-horizontal-margin;
  margin-right: $content-horizontal-margin;
  width: auto;
  position: relative;
  display: flex;

  .body-container {
    flex: 3;
    width: 100%;
  }

  .item-detail-sidebar {
    flex: 2;
    position: relative;
    margin-top: -20px;
    margin-right: -25px;
    border-left: 1px solid rgba(34, 36, 38, 0.15);

    .item-detail-body {
      max-height: 100%;
      position: fixed;
      overflow-y: auto;
      padding: 25px 15px;
    }

    .hide-sidebar-icon {
      position: absolute;
      opacity: 0.3;
      right: 10px;
      cursor: pointer;
      z-index: 2;
      top: 10px;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .hidden {
    display: none;
  }
}



//#grid-container {
//  margin: 0
//}
//
//#grid-container > div:first-child {
//  margin: 0;
//  padding: 0;
//  width: 100%;
//}

.logo {
  background-color: #4d4563;
  border-radius: 3px;
  margin: 10px;
}

.top-nav {
  display: flex;
  align-items: center;
  height: $top-nav-height;
  position: fixed;
  left: $sidebar-width;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(34, 36, 38, .15);
  width: 100%;
  padding-left: 15px;
  z-index: 5;

  &-secondary {
    background-color: inherit;
    top: 45px;
  }

}

.top-nav-button-group {
  float: right;
  width: 260px;
  margin-left: auto;
}

.top-nav-header {
  padding-left: 10px;
}

#sidebar-button {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
  height: 75px;
  color: rgb(230, 230, 230);
}

.sidebar-menu {
  height: 100%
}
