.Scenes {

  .content-container {
    margin: 10px 25px;
  }

  #scene-item {
    box-shadow: 1px 1px 1px rgba(212, 212, 213, 0.3);
    border: 1px solid rgba(34, 36, 38, .1);
    border-radius: 5px;
    padding: 20px;
  }
}
